<!DOCTYPE html>
<html lang="en">

<head>
    <title>게임이력</title>
    <base href="<%- assetHost %>/gs2c/common/game-history-client/">
    <script>
        window.token = "<%= mgckey %>";
        window.language = "<%= lang %>";
        window.recordId = "<%= recordId %>";
        window.apiUrl = "/gs2c/";
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=0.6">
    <meta name="google" content="notranslate">
    <title>Game history</title>
    <link href="main.<%- mainCode %>.min.css" rel="stylesheet">
</head>

<body>
    <div id="root"></div>
    <div id="modal-root"></div>
    
    <script src="main.<%- mainCode %>.min.js"></script>
</body>

</html>